@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FacebookDAW</h1>
  
    
</div>

<div class="row">
    <div class="col-md-4">
     @if(ViewBag.notifications != null)
     {
         if(ViewBag.notifications.FriendRequests != null)
         {
             foreach( var friendRequest in ViewBag.notifications.FriendRequests)
             {
                <div> @friendRequest.FirstName @friendRequest.LastName sent you a friend request
        
                    <form method="post" action="/Profile/AcceptFriendRequest/@friendRequest.Id">
                        <button type="submit" class="btn btn-sm btn-success"> Add friend</button>
                    </form>
                </div>
             }
         }
     }

    </div>
   
</div>